<div class="movie-card">
  <div class="movie-card__inner">
    <img src="{{imgSrc}}" alt="movie poster" class="movie-card__poster">
    <div class="movie-card__rating">{{rating}}</div>
    <h2 class="movie-card__title">{{title}}</h2>
    <time class="movie-card__date">{{releaseDate}}</time>
  </div>
</div>