<div class="apartments">
  {{#each this}}
  <div class="apartment">
    <img class="apartment__img" src="{{imgUrl}}" alt="">
    <h2 class="apartment__title">{{title}}</h2>
  </div>
  {{/each}}
</div>