* {
  margin: 0;
  padding: 0;
}

.title {
  margin-bottom: 15px;
}

.form {
  background: purple;
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-top: 50px;
}

.input {
  color: inherit;
  border: 1px solid #fff;
  background: none;
  padding: 8px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.input::placeholder {
  color: #fff;
}

.button {
  background: rgb(240, 240, 63);
  color: purple;
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 8px 15px;
  cursor: pointer;
}

.apartments {
  display: grid;
  width: 100%;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.apartment__img {
  max-width: 100%;
}
